{% extends "base.html" %}

{% block content %}

<h1>SimplyNews</h1>
<div class="main">
    <div class="navbar">
        <h2 class="{% if type == 'news' %} selected {% endif %}"><a href="/news">News</a></h2>
        <h2 class="{% if type == 'tech' %} selected {% endif %}"><a href="/tech">Tech</a></h2>
        <h2 class="{% if type == 'gaming' %} selected {% endif %}"><a href="/gaming">Gaming</a></h2>
    </div>
    <div id="content">
        <div class="cards">
            {% for site in sites %}
            <div class="card">
                <a href="/{{ site.link }}">
                    <img src="/static/{{ site.logo }}" />
                </a>
                <h2>{{ site.name }}</h2>
            </div>
            {% endfor %}
        </div>
        <br>
    </div>
    <footer class="center">
        <a href="https://simple-web.org/projects/simplynews.html">Project Page</a> | <a
            href="https://simple-web.org">Simple Web Project</a>
    </footer>
</div>
{% endblock %}